{% extends "base.html" %}
{% block content %}
<h1>Assets</h1>
<div class="card">
    <a class="btn" href="{{ url_for('main.add_asset') }}">Add Asset</a>
    <a class="btn btn-light" href="{{ url_for('main.export_assets') }}">Export Excel</a>
    <br><br>
    <form method="GET">
        <input name="q" placeholder="Search asset, serial, brand, model, staff" value="{{ q }}">
        <select name="status">
            <option value="">All Status</option>
            {% for s in ["Available","Checked Out","Under Repair","Damaged","Lost","Retired","Returned"] %}
            <option value="{{ s }}" {% if status == s %}selected{% endif %}>{{ s }}</option>
            {% endfor %}
        </select>
        <button>Search</button>
    </form>
</div>

<table>
    <tr>
        <th>Asset ID</th>
        <th>Type</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Serial</th>
        <th>Status</th>
        <th>Assigned</th>
        <th>Location</th>

        <th>Condition</th>
        <th>Purpose</th>
        <th>Notes</th>

        <th>Action</th>
    </tr>
    {% for a in assets %}
    <tr>
        <td>{{ a.asset_id }}</td>
        <td>{{ a.asset_type }}</td>
        <td>{{ a.brand }}</td>
        <td>{{ a.model }}</td>
        <td>{{ a.serial_number }}</td>
        <td>{{ a.status }}</td>
        <td>{{ a.assigned_to }}</td>
        <td>{{ a.location }}</td>

        <td>{{ a.condition }}</td>
        <td>{{ a.purpose }}</td>
        <td>{{ a.notes }}</td>

        <td>
            <a class="btn btn-light"
            href="{{ url_for('main.edit_asset', asset_id=a.id) }}">
            Edit
            </a>
        </td>
    </tr>
    {% else %}
    <tr><td colspan="8">No assets found.</td></tr>
    {% endfor %}
</table>
{% endblock %}
