{% extends "base.html" %}
{% block content %}
<h1>Audit Logs</h1>
<table>
    <tr><th>Time</th><th>User</th><th>Action</th><th>Module</th><th>Record</th><th>IP</th><th>PC</th></tr>
    {% for l in logs %}
    <tr>
        <td>{{ l.timestamp }}</td>
        <td>{{ l.username }}</td>
        <td>{{ l.action }}</td>
        <td>{{ l.module }}</td>
        <td>{{ l.record_id }}</td>
        <td>{{ l.ip_address }}</td>
        <td>{{ l.pc_name }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
