{% extends "base.html" %}
{% block content %}
<div class="card">
    <h1>Check-Out Asset</h1>
    <form method="POST">
        <label>Asset</label>
        <select name="asset_id" required>
            {% for a in assets %}
            <option value="{{ a.asset_id }}">{{ a.asset_id }} - {{ a.asset_type }} {{ a.brand }} {{ a.model }}</option>
            {% endfor %}
        </select>

        <label>Assigned To</label>
        <input name="assigned_to"
            placeholder="Enter staff name, freelancer, vendor, etc."
            required>

        <label>Event Name</label>
        <input name="event_name">

        <label>Authorized By</label>
        <input name="authorized_by" required>

        <label>Purpose</label>
        <input name="purpose" placeholder="Example: Event, Meeting, Temporary use">

        <label>Remarks</label>
        <textarea name="remarks"></textarea>

        <button>Check-Out</button>
    </form>
</div>
{% endblock %}
