{% extends "base.html" %}
{% block content %}
<h1>Transactions</h1>
<table>
    <tr><th>Time</th><th>Asset</th><th>Action</th><th>Assigned</th><th>Event</th><th>Authorized</th><th>By</th><th>PC</th><th>Remarks</th></tr>
    {% for t in transactions %}
    <tr>
        <td>{{ t.timestamp }}</td>
        <td>{{ t.asset_id }}</td>
        <td>{{ t.action_type }}</td>
        <td>{{ t.assigned_to }}</td>
        <td>{{ t.event_name }}</td>
        <td>{{ t.authorized_by }}</td>
        <td>{{ t.performed_by }}</td>
        <td>{{ t.pc_name }}</td>
        <td>{{ t.remarks }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
