{% extends "base.html" %}
{% block content %}
<div class="card">
    <h1>{{ "Edit User" if user else "Add User" }}</h1>

    <form method="POST">

        {% if not user %}
        <label>Username</label>
        <input name="username" required>
        {% else %}
        <label>Username</label>
        <input value="{{ user.username }}" disabled>
        {% endif %}

        <label>Full Name</label>
        <input name="full_name" value="{{ user.full_name if user else '' }}" required>

        <label>Password</label>
        <input type="password" name="password" {% if not user %}required{% endif %}>
        {% if user %}
        <small>Leave blank if you do not want to change password.</small>
        {% endif %}

        <label>Role</label>
        <select name="role">
            <option value="admin" {% if user and user.role == "admin" %}selected{% endif %}>Admin</option>
            <option value="staff" {% if user and user.role == "staff" %}selected{% endif %}>Staff</option>
            <option value="viewer" {% if user and user.role == "viewer" %}selected{% endif %}>Viewer</option>
        </select>

        <label>
            <input type="checkbox" name="active" {% if not user or user.active %}checked{% endif %}>
            Active
        </label>

        <br><br>

        <button>Save</button>
        <a class="btn btn-light" href="{{ url_for('main.users') }}">Cancel</a>
    </form>
</div>
{% endblock %}