{% extends "base.html" %}
{% block content %}
<h1>User Management</h1>

<div class="card">
    <a class="btn" href="{{ url_for('main.add_user') }}">Add User</a>
</div>

<table>
    <tr>
        <th>Username</th>
        <th>Full Name</th>
        <th>Role</th>
        <th>Active</th>
        <th>Action</th>
    </tr>

    {% for u in users %}
    <tr>
        <td>{{ u.username }}</td>
        <td>{{ u.full_name }}</td>
        <td>{{ u.role }}</td>
        <td>{{ "Yes" if u.active else "No" }}</td>
        <td>
            <a class="btn btn-light" href="{{ url_for('main.edit_user', user_id=u.id) }}">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}